<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"> 
	<title>Bootstrap 实例 - 一个简单的网页</title>
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">  
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<style>
    .fakeimg {
        height: 200px;
         background: #aaa;
    }
  </style>
</head>
<body>
<div class="jumbotron text-center" style="margin-bottom:0">
  <h1>阿达的第一个爬虫页面</h1>
</div>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href=" ">网站名 </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">主页</a></li>
        
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
        <div class="col-sm-4">
                <h2>爬取京东网站</h2>
                <div class="fakeimg">

                </div> 
                <hr class="hidden-sm hidden-md hidden-lg">
              </div>
    <div class="col-sm-8">
      <h2>爬取豆瓣网站</h2>
      <div class="fakeimg">
            {% for article in articles %}
            <tr>
                <td>{{article.id}}</td></br>
                <td>{{article.url}}</td></br>
                <td>{{article.content}}</td></br>
            </tr>
            {% endfor%}        
      </div>
      <br>
      